PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crm-core

PGADMIN_DEFAULT_EMAIL=asdf@email.com
PGADMIN_DEFAULT_PASSWORD=asdfjkl

DATABASE_URL="postgresql://postgres:postgres@localhost:5454/crm-core"

JWT_SECRET=secret
JWT_AT_EXPIRES=30m
JWT_RT_EXPIRES=30d